.icon{
    font-size:3rem;
}

.fa-times-circle{
    color:red;
}

.fa-check-circle{
    color:green;
}


.main-loader-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.loader-container {
  position: relative;
  height: 200px;
  width: 200px;
}
.loader-container svg{
  position: absolute;
}

.spinner {
  left:0;
  animation: rotator 622 linear infinite;
}
.loader-dog {
  left:10px;
  bottom: 10px;
  width: 186px;
  height:auto;
}
@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: 622;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #FCB316;
  animation:
    dash 1.4s ease-in-out infinite;
}


@keyframes dash {
 0% { stroke-dashoffset: 622; }
 50% {
   stroke-dashoffset: 622/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 622;
   transform:rotate(450deg);
 }
}