
@import url('https://fonts.googleapis.com/css?family=Righteous');

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    background: linear-gradient(to left, #EB3349, #F45C43);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.logo {
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo p {
    margin: 0;
    padding-left: 10px;
    font-family: 'Righteous';
    font-size: 1.3rem;
    color: white;
}

.logo img {
    width: 40px;
}

.score-board {
    display: flex;
    align-items: center;
    color: white;
}

.score-board ul {
    font-family: 'Righteous';
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
}

.score-board ul li {
    margin: 0 0.5rem;
}

.fa-fire {
    font-size: 20px;
}

@media screen and (max-width: 450px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .score-board {
        margin-top: 5px;
    }
}