header{
    width: 100%;
    border: solid 1px black;
}


.score-container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row;
}

.score-container li{
    padding: 24px;
}
