.card-picture{
  margin:auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top:24px;
  margin-bottom:24px;
}

.main-image{
  margin:auto;
  height: 300px;
  margin: 1rem auto 0 auto;
}

.main-question{
  text-align: center;
}

.card-text {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  margin-top: 1rem;
  font-family: 'Righteous';
}